.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.login-page {
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "text login";
}

.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    grid-area: login;
    font-family: myFancyFont;
}

.login-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.login-container a {
    text-decoration: none;
    color: black;
}

.login-container label {
    display: block;
    margin-bottom: 10px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    outline: none;
    font-family: myFancyFont;
    /* Include padding and border in the element's total width */
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #ddd;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    font-family: myFancyFont;
    font-size: 15px;
}

.login-container button:hover {
    font-weight: 800;
    background-color: #a2a0a0;
}

.login-container .links {
    text-align: center;
    margin-top: 10px;
}

.login-container a:hover {
    color: #FFEA00;
}

@media only screen and (min-width: 768px) {
    /* Tablet Styles */
    .login-page {
        grid-template-columns: 1fr;
        grid-template-areas: "login";
    }
    .login-container {
        max-width: 400px;
    }
}

@media only screen and (min-width: 992px) {
    /* PC Full Screen Styles */
    .login-page {
        grid-template-columns: 1.3fr 0.7fr;
        grid-template-areas: "text login";
    }
}

@media screen and (max-width: 768px) {
    .login-page {
        grid-template-columns: 1fr;
        grid-template-areas: "login";
    }
}