.comment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 10px 0;
}

.create_comment_top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: column;
}

.comment .comment-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
    margin: 0 0 10px 0;
}

.comment .comment-button button {
    width: 100%;
    background-color: #ddd;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    font-family: myFancyFont;
    font-size: 15px;
    padding: 10px;
}

.comment-button button.active {
    background-color: #aaa;
    /* Add any other styling properties for the active button */
}

.comment .comment-button button:hover {
    background-color: #aaa;
}

.create_comment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 10px 0;
}

.create_comment textarea {
    width: 100%;
    height: 100px;
    resize: none;
    padding: 5px;
    margin: 0 0 10px 0;
    border: 2px solid black;
    border-radius: 5px;
    font-family: myFancyFont;
    outline: none;
}

.create_comment button {
    width: 100%;
    background-color: #ddd;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    font-family: myFancyFont;
    font-size: 15px;
    padding: 10px
}

.create_comment button:hover {
    background-color: #aaa;
}

.create_comment_image {
    width: 100%;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 0 0 10px 0;
}

.create_comment_image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.comment_list {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.comment_list_item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: white;
}

.comment_list_item_header {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    flex-direction: column;
}

.comment_list_item_header_left {
    display: flex;
    align-items: center;
    font-family: myFancyFont;
}

.comment_list_item_header_info p {
    margin: 0;
    font-size: 12px;
    color: #666;
}

.comment_list_item_header_right {
    display: flex;
    flex-direction: row-reverse;
}

.comment_list_item_header_user {
    display: flex;
    align-items: center;
    width: 100px;
    /* Adjust this value to fit your layout */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: myFancyFont;
}

.comment_list_item_header_user img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid black;
    background: #FFFFFF;
}

.comment_list_item_body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.comment_list_item_header_user p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.comment_list_item_header_user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment_list_item_body textarea.content {
    width: 100%;
    margin: 0;
    font-size: 24px;
    color: #333;
    background-color: white;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    resize: none;
    outline: none;
    font-family: myFancyFont;
}

.comment_list_item_image {
    width: 100%;
    margin-top: 10px;
}

.comment_list_item_image img {
    max-width: 100%;
    height: auto;
}