.create_post {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    max-width: 500px;
    padding: 10px;
    background: #FFEA00;
    border-radius: 10px;
    border: 4px solid black;
}

.create_post_top {
    width: 450px;
    max-width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.create_post_title {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 5px;
    resize: none;
    font-family: myFancyFont;
    outline: none;
}

.create_post_bottom {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    flex-direction: column;
}

.create_post_content {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 5px;
    resize: none;
    outline: none;
    font-family: myFancyFont;
}

.create_post_image {
    margin-top: 10px;
    text-align: center;
}

.create_post_image img {
    max-width: 100%;
    max-height: 200px;
}

.create_post_submit {
    width: 100%;
    background-color: #ddd;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    font-family: myFancyFont;
    font-size: 15px;
    padding: 10px;
}

.create_post_submit:hover {
    background-color: #aaa;
}

.post_list {
    width: 100%;
    max-width: 500px;
    padding: 10px;
}

.post {
    background-color: #FFEA00;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    border: 4px solid black;
}

.post .content {
    word-wrap: break-word;
    /* Allow long words to break and wrap onto the next line */
}

.post_image {
    text-align: center;
    margin-bottom: 10px;
}

.post_image img {
    max-width: 100%;
    max-height: 300px;
    border-radius: 4px;
}

.post_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.post_header_info {
    display: flex;
    flex-direction: column;
    /* Adjust this value to fit your layout */
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    gap: 10px;
    font-family: myFancyFont;
}

.post_header_info h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.post_header_info p {
    margin: 0;
    color: #888;
}

.post_header_user {
    width: 110px;
    /* Adjust this value to fit your layout */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: myFancyFont;
}

.post_header_user img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid black;
    background: #FFFFFF;
}

.post_header_user p {
    margin: 0;
    font-weight: bold;
}

.post_body p {
    font-family: myFancyFont;
    color: #555;
    line-height: 1.5;
}