.main-box {
    width: 560px;
    height: 90vh;
    max-width: 560px;
    max-height: 1000px;
    overflow: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.main-box::-webkit-scrollbar {
    display: none;
}

.info {
    width: 200px;
    /* Adjust this value to fit your layout */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main_header {
    display: flex;
    height: 300px;
    position: relative;
    overflow: hidden;
    justify-content: center;
}

.info_img {
    display: flex;
    align-items: center;
}

.info_img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #e0e0e0;
    box-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8, 2px 2px 2px rgba(206, 89, 55, 0);
    background: #FFFFFF;
}

.info_box {
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.user_info .followers label:hover {
    transition: all 0.5s ease-in-out;
    text-shadow: 1px 3px 0 #969696, 2px 2px 5px #aba8a8, 2px 2px 2px rgba(206, 89, 55, 0);
    color: #FFEA00;
    background: #FFFFFF;
}

.user_info .following label:hover {
    transition: all 0.5s ease-in-out;
    text-shadow: 1px 3px 0 #969696, 2px 2px 5px #aba8a8, 2px 2px 2px rgba(206, 89, 55, 0);
    color: #FFEA00;
    background: #FFFFFF;
}

.info_box .user_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
}

.info_box .user_info label {
    font-size: 20px;
    color: #333;
}

.info_box .user_info span {
    font-size: 15px;
    color: #333;
}

.info_box .user_info {
    font-family: myFancyFont;
}

.user_info .follow_btn button {
    font-family: myFancyFont;
    font-size: 20px;
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0px 5px;
    transition: all 0.5s ease-in-out;
}

.hover {
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8, 2px 2px 2px rgba(206, 89, 55, 0);
    color: #FFEA00;
    background: #FFFFFF;
}

.user_info .follow_btn button:hover {
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8, 2px 2px 2px rgba(206, 89, 55, 0);
    color: #FFEA00;
    background: #FFFFFF;
}


/* body */

.main_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

@media screen and (max-width: 1400px) {
    .main-box {
        padding-top: 100px;
    }
}