.chat-room {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    font-family: myFancyFont;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.chat-room .top-bar {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
}

.chat-room .top-bar .close-button:hover {
    font-size: 25px;
    color: #90caf9;
}

.chat-room .chat-room-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.chat-room .chat-room-name {
    font-weight: bold;
    margin-right: 4px;
}

.typing-indicator {
    display: flex;
}

.dot-1,
.dot-2,
.dot-3 {
    width: 4px;
    height: 4px;
    background-color: #ddd;
    border-radius: 50%;
    margin: 0 4px;
    animation: typing-animation 1s infinite;
}

.dot-1 {
    animation-delay: 0s;
}

.dot-2 {
    animation-delay: 0.2s;
}

.dot-3 {
    animation-delay: 0.4s;
}

@keyframes typing-animation {
    0%,
    40%,
    100% {
        opacity: 0.3;
    }
    20% {
        opacity: 1;
    }
}

.chat-room .close-button {
    cursor: pointer;
    margin-left: auto;
}

.chat-room .chat-room-content {
    flex-grow: 1;
    max-width: 300px;
}

.chat-room .chat-room-input {
    border-top: 1px solid #ccc;
    display: flex;
    align-items: center;
    background: red;
}

.chat-room .chat-room-input ::placeholder {
    color: #ddd;
    font-family: myFancyFont;
}

.chat-room .chat-room-input input {
    width: 100%;
    height: 100%;
    /* d */
    flex-grow: 1;
    /* Take up remaining horizontal space */
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-family: myFancyFont;
}

.chat-room .sender-message {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.chat-room .receiver-message {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.chat-room .chat-messages {
    max-height: 300px;
    overflow-y: auto;
    flex-wrap: wrap;
    /* Add this line to allow messages to wrap onto the next line */
}

.chat-room .chat-message {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    background-color: #e1f5fe;
    color: #000;
    margin: 0 10px;
    word-break: break-all;
    /* This line allows long words to wrap onto the next line */
}

.chat-room .sender-message .chat-message {
    background-color: #90caf9;
}

.chat-room .receiver-message .chat-message {
    background-color: #e1f5fe;
}


/* for group message */

.chat-room .chat-message-sender {
    font-size: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-end;
    color: #87c6fa;
}