/* .explore_list_item_left img{
    width: 40px;
} */

.explore {
    width: 800px;
    height: 90vh;
    max-width: 1000px;
    max-height: 1000px;
    overflow: scroll;
    scroll-behavior: smooth;
    padding: 20px;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.explore::-webkit-scrollbar {
    display: none;
}

.explore_top {
    text-align: center;
    margin-bottom: 20px;
}

.explore_top h1 {
    font-family: myFancyFont;
    font-size: 24px;
    text-shadow: 1px 3px 0 #969696, 4px 8px 5px #aba8a8, 2px 2px 2px rgba(206, 89, 55, 0);
    color: #FFEA00;
    -webkit-text-stroke: 0.01px rgba(0, 0, 0, 0.171);
    /* for WebKit-based browsers */
    text-stroke: 0.01px rgba(0, 0, 0, 0.171);
    /* standard property */
}

.explore_body {
    display: flex;
    justify-content: center;
}

.explore_list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}


/* Apply the styles for the user card as provided in the previous response */

.explore_list_item {
    flex: 0 0 calc(33.33% - 10px);
    /* Adjust the width percentage and gap as desired */
    display: flex;
    align-items: center;
    padding: 10px;
    border: 3px solid black;
    border-radius: 4px;
    margin-bottom: 10px;
    font-family: myFancyFont;
    background: #FFEA00;
    flex-direction: column;
}

.explore_list_item:hover {
    cursor: pointer;
    background: #ffd900;
    border: 3px solid black;
    border-radius: 4px;
    box-shadow: 0 0 10px #ffd000;
}

@media (max-width: 767px) {
    .explore_list_item {
        flex-basis: 50%;
        /* Adjust the width percentage as desired for smaller screens */
    }
}

.explore_list_item_left {
    margin-right: 10px;
}

.explore_list_item_left img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #e0e0e0;
    -webkit-box-shadow: 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    background: #FFFFFF;
}

.explore_list_item_create_info_left {
    margin-right: 10px;
}

.explore_list_item_create_info_left img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #e0e0e0;
    -webkit-box-shadow: 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    background: #FFFFFF;
}

.explore_list_item_right h3 {
    margin: 0;
}

.explore_list_item_follow_btn button {
    width: 100%;
    background-color: #ddd;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    font-family: myFancyFont;
    font-size: 15px;
}

.explore_list_item_follow_btn button:hover {
    background-color: #ccc;
}

.explore_list_item_go_to_page button {
    width: 100%;
    background-color: #ddd;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    font-family: myFancyFont;
    font-size: 15px;
}

.explore_list_item_go_to_page button:hover {
    background-color: #ccc;
}

@media screen and (max-width:1400px) {
    .explore {
        padding-top: 150px;
    }
}