.user-list {
    width: 300px;
    border: 2px solid black;
    padding: 10px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    border-radius: 10px;
}

.user-list-container {
    margin-bottom: 10px;
}

.user-list-header h2 {
    font-family: myFancyFont;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.user-list-body ul {
    list-style-type: none;
    padding: 0;
}

.user-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    background: #FFEA00;
    border-radius: 10px;
    padding: 5px 10px;
    border: 2px solid black;
}

.user-list-item-left {
    margin-right: 10px;
}

.user-list-item-left img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #e0e0e0;
    box-shadow: 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    background: #FFFFFF;
}

.user-list-item-right span {
    font-family: myFancyFont;
    margin-right: 5px;
}

.user-list-footer {
    text-align: right;
}

.user-list-footer button {
    width: 100%;
    background-color: #ddd;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    font-family: myFancyFont;
    font-size: 15px;
    padding: 10px;
}

.user-list-footer button:hover {
    background-color: #ccc;
}